body {
	font-family: monospace;
	font-size: 130%;
}

table {
	width: 100%;
}

th {
	font-weight: bold;
	background-color: #d9d9d9;
}

td, th {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

td {
	vertical-align: bottom;
	padding: 2px 3px;
}

tr > td:first-child {
	border-left: 1px solid #000000;
}

thead > tr:first-child > th {
	border-top: 1px solid #000000;
}

thead > tr:first-child > th:first-child {
	border-left: 1px solid #000000;
}

pre {
	background-color: gainsboro;
	padding: 4px 6px;
}

pre, code {
	font-size: 100%;
	font-family: monospace;
}

.page {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;

	padding: 1.5em calc(1em + 1vw);
	max-width: 1000px;
	margin: 0 auto 0;
}

#devse-webring {
	text-align: center;
}

#devse-webring > ul {
	list-style: none;
}

#devse-webring > ul > li {
	display: inline;
}
